/* ================= RESET ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================= LAYOUT ================= */
.about-page {
    width: 100%;
    max-width: 1200px;
    height: 2000px;
    margin: 0 auto;
    overflow: scroll;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
    background-color: #f5f4ea;
}

.top-bar {
    width: 100%;
    max-width: 1200px;
    background-color: #0a89f1;
    padding: 1.5rem 5rem 1.5rem 1rem;
    color: #fff;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-right {
    display: flex;
    align-items: center;
}

/* ================= DESKTOP ACTIONS ================= */
.desktop-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ================= CAB BUTTON ================= */
#CAB {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color:  #000;
    background: #ffd400;
    border-radius: 5px;
    font-size: large;
    transition: all 0.3s ease;
}

#CAB:hover {
    color: #000;
    background-color: #fff;
}

#CAB:focus {
     color: #000;
    background-color: #fff;
    outline: 2px solid #ffd400;
    outline-offset: 3px;
}

/* ================= HAMBURGER ================= */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

/* ================= MOBILE SLIDE MENU ================= */
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 30%;
    min-width: 260px;
    height: 100%;

    background-color: #2e65dd;
    padding: 2rem 1.5rem;

    display: none;
    flex-direction: column;
    gap: 1rem;

    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;

    z-index: 1000;
}

/* slide in */
.mobile-menu.active {
    transform: translateX(0);
    display: flex;
}

/* menu links */
.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.mobile-menu a:hover,
.mobile-menu a:focus {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 3.5px;
    color: #000;
}

/* close button */
.close-menu {
    align-self: flex-end;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-right: 5rem;
}

/* ================= LINK BAR ================= */
.link-box {
    background-color: #fff;
    width: 100%;
    height: 35px;
}

.link {
    display: flex;
    gap: 5.8rem;
    padding: 7px 5rem 0;
}

.link a {
    text-decoration: none;
    color: rgb(2, 23, 48);
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

.link a:hover,
.link a:focus {
    border: none;
    transform: scale(1.1);
    background-color: #0a89f1;
    color: #fff;
    
} 

/* ================= programs.. bar ================= */
.programs-bar {
       background-color: #0a89f1;
    width: 100%;
    height: 40px;
}

/* ================= programs-droplink ================= */
.programs-droplink {
    display: flex;
    padding: 7px 0px 0px 1.3rem;
    gap: 0.5rem;
}

/* ================= programs-droplink a ================= */
.programs-droplink a {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s ease;
     text-transform: uppercase;
     font-family: Arial, sans-serif;
}

/* ================= image1 content program  ================= */
.image1-content-program {
    position: relative;
}


/* ================= image 1 program ================= */
.image1-program {
         width: 100%;
    max-width: 1200px;
    height: 500px;
    overflow: hidden;
}

#img1-program {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}

/* ================= Programs-header ================= */
#Programs-header {
  font-size: 3rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ================= paragraph-box-programs ================= */
 .paragraph-box-programs {
        max-width: 480px;
        background-color: #0a89f1;
        display: flex;
        color: #000;
       margin: auto;
       justify-content: center;
       align-items: center;
    }

/* ================= paragraph-programs ================= */
#paragraph-programs {
    padding-top: 1rem;
    text-align: center;
    padding-bottom: 1rem;
}

/* ================= ourcourses-box ================= */
.ourcourses-box {
        background-color: #10234d;
    width: 100%;
    height: 60px; 
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 1rem;
}

/* ================= our-courses ================= */
#our-courses {
         font-size: 1.5rem;
         font-weight: normal;
         color: #fff;
}

/* ================= programs-courses ================= */
.programs-courses {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #eeeeee;;
          padding: 3rem 0;
          gap: 4rem;
}

/* ================= program1 ================= */
.program1 {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* ================= Workshop-img ================= */
#Workshop-img {
     width: 550px;
    height: 400px;
    object-fit: contain;
    display: block;
}

/* ================= program1-paragraph ================= */
#program1-paragraph {
       word-spacing: 0.1rem;
       padding-top: 1rem;
       color: #000;
       font-weight: normal;
       font-size: 1.2rem;
       text-align: center;
       font-family: Arial, sans-serif;
}

/* ================= workshop ================= */
#workshop {
    display: block;
    margin: 1.5rem auto;   
    padding: 0.7rem 1rem;
    width: 340px;          
    max-width: 90%;        
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}


/* ================= program2 ================= */
.program2 {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* ================= shortcourses-img ================= */
#shortcourses-img {
     width: 550px;
    height: 400px;
    object-fit: contain;
    display: block;
}

/* ================= program2-paragraph ================= */
#program2-paragraph {
       word-spacing: 0.1rem;
       padding-top: 1rem;
       color: #000;
       font-weight: normal;
       font-size: 1.2rem;
       text-align: center;
       font-family: Arial, sans-serif;
}

/* ================= shortcourses ================= */
#shortcourses {
    display: block;
    margin: 1.5rem auto;   
    padding: 0.7rem 1rem;
    width: 340px;          
    max-width: 90%;        
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

/* ================= program3 ================= */
.program3 {
    display: flex;
    flex-direction: column;
    align-items: center;   
}

/* ================= CERTIFICATION-COURSES-img ================= */
#CERTIFICATION-COURSES-img {
     width: 550px;
    height: 400px;
    object-fit: contain;
    display: block;
}

/* ================= program3-paragraph ================= */
#program3-paragraph {
       word-spacing: 0.1rem;
       padding-top: 1rem;
       color: #000;
       font-weight: normal;
       font-size: 1.2rem;
       text-align: center;
      font-family: Arial, sans-serif;
}

/* ================= CERTIFICATION-COURSES ================= */
#CERTIFICATION-COURSES {
    display: block;
    margin: 1.5rem auto;   
    padding: 0.7rem 1rem;
    width: 340px;          
    max-width: 90%;        
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.footer-links a:hover  {
           color: #000;
}

/* ================= Reach Out header ================= */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
}

/* ================= Reach Out mail ================= */
.mail {
    font-size: 1.05rem;
    color: #fff;
    font-family: Arial, sans-serif
}

/* ================= Reach Out telephone ================= */
#telephone { 
    color: #fff;
    font-family: Arial, sans-serif
}

/* ================= phone ================= */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

/* ================= copy ================= */
#copy {
    padding-top: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* ================= RESPONSIVE RULES ================= */
/* Tablet & Mobile */
@media (max-width: 1024px) {

    /* hide desktop-only items */
    .desktop-actions {
        display: none;
    }

    /* show hamburger */
    .hamburger {
        display: block;
    }
    
    /* hide link bar */
    .link-box {
        display: none;
    }

    /*  programs bar  */
.programs-bar {
       background-color: #fff;
    width: 100%;
    height: 40px;
}

/*  programs-droplink */
.programs-droplink {
    display: flex;
    padding: 7px 0px 0px 1.3rem;
    gap: 0.5rem;
}

/*  programs-droplink a  */
.programs-droplink a {
    font-size: 1.02rem;
    color: #000;
    transition: all 0.3s ease;
     text-transform: uppercase;
     font-family: Arial, sans-serif;
     font-weight: normal;
     
}

/* home a  */
#home a{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #000;
}

#home a:hover,
#home a:focus {
     border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 1.05rem;
    text-decoration: none;
}

#slash{
    font-weight: bold;
}

     /* hr */
     hr {
        display: none;
    }

}

/* ================= (DESKTOP ONLY) ================= */
@media (min-width: 768px) {

   /* programs-droplink */
.programs-droplink {
    display: flex;
    padding: 7px 5rem 0;
    gap: 0.5rem;
}

 /* our-courses */
#our-courses {
    font-size: 2rem;
}
}

/* ================= PROGRAMS HEADER FOR DESKTOP/TABLET ================= */
@media (min-width: 501px) {
    /* Programs-header */
    #Programs-header {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 4rem;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.15em;
        z-index: 2;
        text-align: center;
        text-shadow:
            0 4px 10px rgba(0, 0, 0, 0.6),
            0 0 25px rgba(0, 0, 0, 0.3);
    }

    /* Paragraph on image */
    .paragraph-box-programs {
        position: absolute;
        top: 70%;
        left: 5%;
        max-width: 480px;
        background-color: rgba(0, 0, 0, 0.85);
        padding: 1rem 1.3rem;
        color: #fff;
    }

    /* ourcourses-box */
    .ourcourses-box {
        background-color: #2e65dd;
    width: 100%;
    height: 60px;
}
}

/* ================= MOBILE =================*/
@media (max-width: 767px){
        br{
            display: none;
        }
    
    /* programs a */
   #Programs a{
    text-decoration: none;
   }

   /* programs-courses */
        .programs-courses {
        background-color: #c6dfee;
        }

    /* program-paragraphs */
        #program1-paragraph,
        #program2-paragraph,
        #program3-paragraph {
       font-size: 1.35rem;
       letter-spacing: 0.5px;
       word-spacing: 0.1em;
       font-family: Arial, sans-serif;
       font-weight: normal;
       width: 67%;
        }

        /* program-applylink */
.program-applylink {
    width: 60%;
    height: 80px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #2e65dd;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: #2e65dd;
    background-color: transparent;

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.program-applylink:hover {
    background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
}

.program-applylink:focus {
     background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
    color: #000;
}

/* big-box */
.big-box{
    height: 650px;
    width: 500px;
    background: #003b66;
}

/*box-content */
.box-content {
    color: #d7e6ef;
}

/*box-content h1 */
.box-content h1{
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin: 24px auto;
    padding: 0 10px;
     width: 70%;
     text-align: center;
}

/*box-content p */
.box-content p {
    line-height: 1.7;
     font-size: 1.5rem;
     margin-bottom: 50px;
     width: 70%;
     margin: 0 auto 50px;
     padding: 0 10px;
     text-align: center;
}

#Conference{
    color: yellow;
}

/* btn */
.btn {
    padding: 15px 30px;
    background-color: #C6E0EF;
    color: #000;
    border: none;

    text-decoration: none;
    font-family: Arial, sans-serif;
    cursor: pointer; 
    font-size: 1.4rem;
    margin-left: 6rem;
}

.btn:hover {
    background-color: #fff;
}

.btn:focus {
    border: 1px solid #000;
    background-color: #fff;
}

/* footer */
.footer {
     color: #fff;
     background-color: #1e5be0;
     font-family: Arial, sans-serif;
     
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: column;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
     padding: 10rem 40px 20px;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding-left: 40px;
       margin-top: 2rem;
       text-transform: uppercase;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
    font-size: 1.2rem;
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 40px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 10px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

}

/* ================= Tablet & Desktop ================= */
@media (min-width: 768px) and (max-width: 1024px) {
     /* programs-droplink */
    .programs-droplink a{
        text-decoration: none;
    }

    /* programs-courses */
        .programs-courses {
             background-color: #c6dfee;
        }

      /* Workshop-img, shortcourses-img, CERTIFICATION-COURSES-img */
     #Workshop-img,
     #shortcourses-img,
    #CERTIFICATION-COURSES-img{
    flex: 1;
    width: 800px;
    height: 400px;
    object-position: top;
    display: block;
}

      /* program-paragraphs */
        #program1-paragraph,
        #program2-paragraph,
        #program3-paragraph {
       font-size: 1.8rem;
       letter-spacing: 0.5px;
       word-spacing: 0.1em;
        }

        /* program-applylink */
.program-applylink {
    width: 600px;
    height: 70px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #2e65dd;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: #2e65dd;
    background-color: transparent;

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 36px;
}

.program-applylink:hover {
    background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
}

.program-applylink:focus {
     background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
    color: #000;
}

/* big-box */
.big-box{
    position: relative;
    height: 500px;
    width: 680px;
    background: #003b66;
}

.big-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -60px;
    width: 80px;
    height: 70px;
    background: #003b66;
}

/*box-content */
.box-content {
    position: relative;
    color: #d7e6ef;
    padding: 20px;
}

/*box-content h1 */
.box-content h1{
    font-size: 45px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/*box-content p */
.box-content p {
    line-height: 1.7;
     font-size: 1.8rem;
     margin-bottom: 50px;
}

#Conference{
    color: yellow;
}

/* btn */
.btn {
    padding: 15px 30px;
    background-color: #C6E0EF;
    color: #000;
    border: none;

    text-decoration: none;
    font-family: Arial, sans-serif;
    cursor: pointer; 
    font-size: 1.4rem;
}

.btn:hover {
    background-color: #fff;
}

.btn:focus {
    border: 1px solid #000;
    background-color: #fff;
}

/* footer */
.footer {
     color: #fff;
     background-color: #1e5be0;
     font-family: Arial, sans-serif;
     height: 700px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: column;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
     padding: 10rem 40px 20px;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding-left: 40px;
       margin-top: 2rem;
       text-transform: uppercase;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
    font-size: 1.2rem;
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 40px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 10px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}
}

/* ================= Desktop ================= */
@media (min-width: 1025px) {
     /* home, slash */
    #home,
    #slash {
        display: none;
    }

    /* programs-droplink */
    .programs-droplink a{
        text-decoration: none;
    }

    /* programs-courses */
    .programs-courses {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          background-color: #c6dfee;
          padding-left: 2rem;
          gap: 2rem;
}

/* program-applylink */
.program-applylink {
    width: 400px;
    height: 60px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
    border: 1px solid #2e65dd;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
    color: #2e65dd;
    background-color: transparent;

    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 24px;
}

.program-applylink:hover {
    background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
}

.program-applylink:focus {
     background: linear-gradient(
        180deg,
        #5b8cff,
        #2e65dd,
        #1d4fbf
    );
    color: #fff;
    border: none;
    color: #000;
}


/* big-box */
.big-box{
    position: relative;
    height: 500px;
    width: 450px;
    background: #003b66;
}

.big-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: -80px;
    width: 80px;
    height: 70px;
    background: #003b66;
}

/*box-content */
.box-content {
    position: relative;
    color: #d7e6ef;
    padding: 20px;
}

/*box-content h1 */
.box-content h1{
    font-size: 42px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

/*box-content p */
.box-content p {
    line-height: 1.7;
     font-size: 1.4rem;
     margin-bottom: 30px;
}

/* btn */
.btn {
    padding: 15px 20px;
    background-color: #C6E0EF;
    color: #000;
    border: none;

    text-decoration: none;
    font-family: Arial, sans-serif;
    cursor: pointer; 
    font-size: 1.2rem;
}

.btn:hover {
    background-color: #fff;
}

.btn:focus {
    border: 1px solid #000;
    background-color: #fff;
}

/* footer */
.footer {
     color: #fff;
     background-color: #1e5be0;
     font-family: Arial, sans-serif;
     height: 650px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: row;
    padding: 200px 90px 30px 50px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
}

/* left-side, right-side */
.left-side {
     width: 50%;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding: 1.5rem 1.5rem;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.05rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 1.5rem;
    margin-top: 0.5rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 1.2rem;
    margin-top: 1rem; 
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 50px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 0;
    gap: 2rem;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

}


/* ================= MOBILE ================= */
@media (min-width: 500px) and (max-width: 700px) {
    /* footer */
    .footer{
        height: 800px;
    }
}

/* ================= MOBILE ================= */
@media (max-width: 400px) {
    /* footer */
    .footer{
        height: 1000px;
    }
}


/* ================= FADE-UP ANIMATION ================= */
.fade-up {
    opacity: 0;             
    transform: translateY(50px); 
    transition: all 0.8s ease-out; 
}

.fade-up.show {
    opacity: 1;               
    transform: translateY(0); 
}

/* ================= FADE-LEFT ANIMATION ================= */
.fade-left {
    opacity: 0;              
    transform: translateX(-50px); 
    transition: all 0.8s ease-out; 
}

.fade-left.show {
    opacity: 1;            
    transform: translateX(0); 
}


