/* ================= RESET ================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ================= LAYOUT ================= */
.about-page {
    width: 100%;
    max-width: 1200px;
    height: 2000px;
    margin: 0 auto;
    overflow: scroll;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.05);
    background-color: #f5f4ea;
}

.top-bar {
    width: 100%;
    max-width: 1200px;
    background-color: #369aeb;
    padding: 1.5rem 3rem 1.5rem 0.5rem;
    color: #fff;
    height: 6.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topbar-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.topbar-right {
    display: flex;
    align-items: center;
}

/* ================= DESKTOP ACTIONS ================= */
.desktop-actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* ================= CAB BUTTON ================= */
#CAB {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    background: linear-gradient(
        90deg,
        #0a89f1 0%,
        #0a89f1 10%,
        #2e65dd 45%,
        #2e65dd 100%
    );
    border-radius: 5px;
    font-size: large;
    transition: all 0.3s ease;
    font-weight: normal;
}

#CAB:hover,
#CAB:focus {
     background: #fff;
    border-color: #fff;
    color: #000;
}

/* ================= register ================= */
#register {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color:  #000;
    background: #ffd400;
    border-radius: 5px;
    font-size: large;
    transition: all 0.3s ease;
    font-weight: normal;
}

#register:hover {
    color: #000;
    background-color: #fff;
}

#register:focus {
     color: #000;
    background-color: #fff;
    outline: 2px solid #ffd400;
    outline-offset: 3px;
}


/* ================= HAMBURGER ================= */
.hamburger {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: #171b3b;
    cursor: pointer;
}

.hamburger:hover,
.hamburger:focus{
    outline: none;
     border-radius: 14px;
    border: 2px solid #000;
}

/* ================= MOBILE SLIDE MENU ================= */
.mobile-menu {
    position: absolute;
    top: 0;
    right: 0;

    width: 30%;
    min-width: 260px;
    height: 100%;

    background-color: #2e65dd;
    padding: 2rem 1.5rem;

    display: none;
    flex-direction: column;
    gap: 1rem;

    transform: translateX(100%);
    transition: transform 0.35s ease-in-out;

    z-index: 1000;
}

/* slide in */
.mobile-menu.active {
    transform: translateX(0);
    display: flex;
}

/* menu links */
.mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
}

.mobile-menu a:hover,
.mobile-menu a:focus {
    text-decoration: underline;
    text-decoration-color: #fff;
    text-underline-offset: 3.5px;
    color: #000;
}

/* close button */
.close-menu {
    align-self: flex-end;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin-bottom: 1rem;
    padding-right: 5rem;
}

/* ================= LINK BAR ================= */
.link-box {
    background-color: #fff;
    width: 100%;
    height: 35px;
}

.link {
    display: flex;
    gap: 5.8rem;
    padding: 7px 5rem 0;
}

.link a {
    text-decoration: none;
    color: rgb(2, 23, 48);
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

.link a:hover,
.link a:focus {
    border: none;
    transform: scale(1.1);
    background-color: #0a89f1;
    color: #fff;
    
} 

/* ================= about bar ================= */
.about-bar {
    background-color: #0a89f1;
    width: 100%;
    height: 40px;
}

/* ================= about-droplink ================= */
.about-droplink {
     display: flex;
    padding: 7px 0px 0px 1.3rem;
    gap: 0.5rem;
}

/* ================= about-droplink a ================= */
.about-droplink a {
    font-size: 1.5rem;
    color: #fff;
    transition: all 0.3s ease;
     text-transform: uppercase;
     font-family: Arial, sans-serif;
     
}

/* ================= image1 content  ================= */
.image1-content {
    position: relative;
}


/* ================= image 1 ================= */
.image1 {
         width: 100%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
}

#img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding-bottom: 1.5rem;
}

 /* ================= AboutU-headerclass ================= */
.AboutU-headerclass {
    display: none;
}

.top-page{
   background-color: #c6dfee;
}

/* ================= heading1 ================= */
#heading1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    padding: 1rem 0px 7px 1.2rem;
}

/* ================= GETIN ================= */
#GETIN {
    color: #0a89f1;
}

/* ================= GETIN-paragraph  ================= */
#GETIN-paragraph 
{
    line-height: 1.6rem;
    padding: 0px 1rem 3rem 1.2rem;
}

/* ================= Programs-imgcontent  ================= */
.programs-imgcontent {
         width: 100%;
    max-width: 1200px;
    height: 400px;
    overflow: hidden;
}

/* ================= Programs-img ================= */
#Programs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

 /* ================= programs-content ================= */
.programs-content {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 /* ================= Programs-header ================= */
#Programs-header{
         padding: 1.2rem 0rem 1.2rem 0rem;
         word-spacing: 0.13rem;
}

 /* ================= program-paragraph ================= */
#program-paragraph {
    padding: 0rem 0rem 1.5rem 0rem;
}

/* middle */
.middle{
    background-color: #7ecde0;
}

/* ================= more-programs ================= */
#more-programs {
    color: #000;
    background-color: #f1d63c;
    height: 60px;
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: normal;
    text-decoration: none;
}

#more-programs:hover,
#more-programs:focus {
 background-color: #fff;
 color: #000;
}

/* ================= what-we-do ================= */
#what-we-do {
       padding-bottom: 1.5rem;
       padding-left: 1.5rem;
       color: #0a89f1;
       font-weight: bold;
       margin-right: 1rem;
}

.bottom-page{
     background-color: #c6dfee;
}

 /* ================= program-paragraph2 ================= */
#program-paragraph2 {
    padding: 0rem 1rem 1.2rem 1.5rem;
    line-height: 1.4rem;
}

 /* ================= program-paragraph3 ================= */
#program-paragraph3 {
    padding: 0rem 1rem 3rem 1.5rem;
     line-height: 1.4rem;
}

/* ================= Socials ================= */
#socials-header {
      padding-top: 3rem; 
      padding-bottom: 1rem;
      text-transform: uppercase;
      font-family: Arial, sans-serif;
      letter-spacing: 0.5px;
}

.socials {
    display: flex;
    gap: 1rem;
    padding-bottom: 2rem;
    align-items: center;
}

.socials a img{
    transition: transform 1.3s ease;
}

.socials a:hover img{
    transform: scale(1.2);
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

/* ================= copy ================= */
#copy {
    padding-top: 2rem;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* ================= RESPONSIVE RULES ================= */
/* Tablet & Mobile */
@media (max-width: 1024px) {

    /* hide desktop-only items */
    .desktop-actions {
        display: none;
    }

    /* show hamburger */
    .hamburger {
        display: block;
    }

    /* hide link bar */
    .link-box {
        display: none;
    }

         /* social content */
    .socials-content {
        padding-left: 2rem;
    }
   /*  about-bar  */
.about-bar {
       background-color: #fff;
    width: 100%;
    height: 40px;
}

/*  about-droplink */
.about-droplink {
    display: flex;
    padding: 7px 0px 0px 1.3rem;
    gap: 0.5rem;
}

/*  about-droplink a  */
.about-droplink a {
    font-size: 1.02rem;
    color: #000;
    transition: all 0.3s ease;
     text-transform: uppercase;
     font-family: Arial, sans-serif;
     font-weight: normal;
     
}

/* home a  */
#home a{
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: #000;
}

#home a:hover,
#home a:focus {
     border: none;
    border-radius: 7px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    font-size: 1.05rem;
    text-decoration: none;
}

#slash{
    font-weight: bold;
}

     /* hr */
     hr {
        display: none;
    }
}


/* ================= (DESKTOP ONLY) ================= */
@media (min-width: 768px) {

   /* about-droplink */
.about-droplink {
    display: flex;
    padding: 7px 5rem 0;
    gap: 0.5rem;
}

    /* Programs-img */
    #Programs-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    padding-bottom: 1.5rem;
}
}

/* ================= MOBILE ONLY ================= */
@media (max-width: 767px) {
     .hamburger{
        margin-left: 11rem;
    }
    
        #logo {
        width: 160px;
        height: auto;
        object-fit: contain;
        display: block;
        
    }

    .logo {
        display: flex;
        align-items: center;
    }

  .mobile-auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.mobile-auth a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 48px;

    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

/* ================= CAB BUTTON ================= */
#CAB {
    color: #fff;
    background: #0a89f1;
    width: 210px;
}

#CAB:hover,
#CAB:focus {
    background: #fff;
    color: #000;
}

/* Register Now */
#mobile-register {
    color: #000;
    background: #ffd400;
}

#mobile-register:hover,
#mobile-register:focus {
    background: #fff;
    border-color: #fff;
    color: #000;
}

     /* us a */
   #us a{
    text-decoration: none;
   }
     /* heading1 */
         #heading1 {
            font-size: 2rem;
            font-family: Arial, sans-serif;
         }

          /* heading1 */
         #heading1 {
            font-size: 2rem;
            font-family: Arial, sans-serif;
            width: 90%;
            margin-bottom: 1rem;
         }


    /* GETIN-paragraph */
    #GETIN-paragraph {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0.5px;
    }

    /* programs-content */
    .programs-content {
        background-color: #0a89f1;
        color: #eeeeee;
        height: 200px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
    }
 
    /* desktop-break */
    .desktop-break {
    display: none;
}
 
     /* AboutU-headerclass */
    .AboutU-headerclass {
    display: block;
}

     /* AboutUs-h2 */    
     #AboutUs-h2 {
      color:  #000;
        font-size: 1.9rem;
        font-weight: normal;
        letter-spacing:  0.1em;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        padding-bottom: 2rem;
}
       /* what-we-do */ 
       #what-we-do {
        font-size: 1.7rem;
       }

       /* program-paragraph2 */
       #program-paragraph2 {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0.5px;
       }

       /* program-paragraph3 */
       #program-paragraph3 {
        font-size: 1.6rem;
        line-height: 1.6;
        letter-spacing: 0.5px;
       }

/* footer */
.footer {
    color: #fff;
    background-color: #000;
    font-family: Arial, sans-serif;
    height: 850px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: column;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
     padding: 16px 40px 20px;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding-left: 40px;
       margin-top: 2rem;
       text-transform: uppercase;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
    font-size: 1.2rem;
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 40px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 10px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

}

/* ================= TABLET & DESKTOP ONLY ================= */
@media (min-width: 768px) {
     /* AboutU-headerclass */
    .AboutU-headerclass {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        text-align: center;
    }

    /* AboutUs-h2 */
    #AboutUs-h2 {
        color:  #fff;
        font-size: 4.2rem;
        font-weight: 700;
        letter-spacing:  0.15em;
         text-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.6),
        0 0 25px rgba(0, 0, 0, 0.3);
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
    }

    /* Programs */
    .Programs {
    position: relative;
    width: 100%;
    max-width: 1200px;
}

     /* programs-content */
    .programs-content {
        position: absolute;
        top: 50%;
        right: 5%;               
        transform: translateY(-50%);
        width: 400px;
        height: 300px;
        background-color: darkslategray; 
        color: #eeeeee;
        padding: 2.5rem;
        display: flex;
        flex-direction: column;
        z-index: 2;
    }

    /* programs-imgcontent */
    .programs-imgcontent {
    position: relative;
    z-index: 1;
}
    
   /* Programs-header */
   #Programs-header {
         font-size: 2rem;
   }

   /* desktop-break */
    .desktop-break {
        display: inline;
    }

      /* socials-content */
    .socials-content {
    padding-left: 6rem;
}
}

/* ================= TABLET ONLY ================= */
@media (min-width:768px) and (max-width:1024px) {
      .top-bar{
        height: 7rem;
    }
    
       #logo {
        width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        
    }

    .logo {
        display: flex;
        align-items: center;
         margin-left: 50px;
    }

        .brand-name h1 {
            font-family: Georgia, serif;
            line-height: 1;
            font-size: 42px;
    }

        .brand-name h2{
            font-size: 30px;
        }

        .mobile-auth {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.mobile-auth a {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 48px;

    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

/* ================= CAB BUTTON ================= */
#CAB {
    color: #fff;
    background: #0a89f1;
    width: 210px;
}

#CAB:hover,
#CAB:focus {
    background: #fff;
    color: #000;
}

/* Register Now */
#mobile-register {
    color: #000;
    background: #ffd400;
}

#mobile-register:hover,
#mobile-register:focus {
    background: #fff;
    border-color: #fff;
    color: #000;
}

      /* about-droplink a */
    .about-droplink a{
        text-decoration: none;
    }
    /* heading1 */
         #heading1 {
            font-size: 2.5rem;
            font-family: Arial, sans-serif;
            width: 90%;
            margin-bottom: 1rem;
         }
           
         /* GETIN-paragraph */
         #GETIN-paragraph {
            font-size: 32px;
            line-height: 1.7;
         }

         /* what-we-do */
         #what-we-do {
           font-size: 42px;
           padding-top: 1.5rem;
           padding-bottom: 2.5rem;
         }

         /* program-paragraph2 */
         #program-paragraph2 {
            font-size: 32px;
            line-height: 1.7;
         }

         /* program-paragraph3 */
         #program-paragraph3 {
            font-size: 32px;
            line-height: 1.7;
         }

          /* Programs-header */
         #Programs-header {
            font-size: 2rem;
         }

         /* program-paragraph */
         #program-paragraph {
             font-size: 20px;
         }

    /* footer */
.footer {
     color: #fff;
     background-color: #000;
     font-family: Arial, sans-serif;
     height: 550px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: column;
}

hr{
    color: white;
    font-weight: 700;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
     padding: 16px 40px 20px;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding-left: 40px;
       margin-top: 2rem;
       text-transform: uppercase;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 40px;
    margin-top: 1rem; 
    font-size: 1.2rem;
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 40px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 10px;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

}

/* ================= DESKTOP ONLY ================= */
@media (min-width:1025px) {
    /* mainContent */
    #mainContent {
        max-width: 100%;
        margin: 0 auto;
        background-color: #554a4a;
    }

      .top-bar{
        height: 7.5rem;
    }

     #logo {
        width: 150px;
        height: auto;
        object-fit: contain;
        display: block;
        
    }

    .logo {
        display: flex;
        align-items: center;
         margin-left: 50px;
    }

      .brand-name h1 {
            font-family: Georgia, serif;
            line-height: 1;
            font-size: 42px;
        }

        .brand-name h2 {
            font-family: Georgia, serif;
            font-weight: normal;
            font-size: 30px;
        }

        .desktop-actions {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.desktop-actions a {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 48px;

    border-radius: 5px;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
}

     /* home, slash */
    #home,
    #slash {
        display: none;
    }

      /* about-droplink */
    .about-droplink a{
        text-decoration: none;
    }

    /* heading1 */
         #heading1 {
            font-size: 3rem;
            font-family: Arial, sans-serif;
         }
           
         /* GETIN-paragraph */
         #GETIN-paragraph {
            font-size: 24px;
            line-height: 1.7;
         }

         /* what-we-do */
         #what-we-do {
           font-size: 48px;
         }

         /* program-paragraph2 */
         #program-paragraph2 {
            font-size: 24px;
            line-height: 1.7;
         }

         /* program-paragraph3 */
         #program-paragraph3 {
            font-size: 24px;
            line-height: 1.7;
         }

          /* Programs-header */
         #Programs-header {
            font-size: 2rem;
         }

         /* program-paragraph */
         #program-paragraph {
             font-size: 20px;
         }

    /* footer */
.footer {
     color: #fff;
     background-color: #000;
     font-family: Arial, sans-serif;
     height: 450px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: row;
    padding: 16px 90px 30px 50px;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
}

/* left-side, right-side */
.left-side {
     width: 50%;
}

/* footer-paragraph */
#footer-paragraph {
    font-size: 24px;
    letter-spacing: 0.5px;
    line-height: 2.5rem;
     word-spacing: 0.1em;
}

/*  Reach Out header */
#Reach-Out {
             font-weight: normal;
       font-family: Arial, sans-serif;
       padding: 1.5rem 1.5rem;
}

/* Reach Out mail  */
.mail {
    display: flex;
    font-size: 1.05rem;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 1.5rem;
    margin-top: 0.5rem; 
}

/*  Reach Out telephone  */
#telephone {
     display: flex;
    align-items: center;
    gap: 0.5rem; 
    color: #fff;
    font-family: Arial, sans-serif;
    padding-left: 1.2rem;
    margin-top: 1rem; 
}

/*  phone  */
.phone-circle {
             width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Popular-links */
#Popular-links {
     font-size: 2rem;
     font-family: Arial, sans-serif;
     padding: 50px 0px 20px 50px;
}

/* footer-links */
.footer-links {
    font-family: Arial, sans-serif;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    padding: 0px 40px 0;
    gap: 2rem;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
     text-decoration: none;
    color: #fff;
    transition: 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding: 3.5px;
    transition: all 0.3s ease;
    border-radius: 7px;
    display: inline-block;
}

footer hr {
    border: none;           
    height: 1px;               
    background-color: rgba(255, 255, 255, 0.4);
}

}

/* ================= MOBILE ================= */
@media (min-width: 500px) and (max-width: 700px) {
    /* footer */
    .footer{
        height: 800px;
    }
}

/* ================= MOBILE ================= */
@media (max-width: 450px) {
        /* socials-header */
    #socials-header{
        width: 70%;
    }
    /* footer */
    .footer{
        height: 980px;
    }
}

/* ================= FADE-UP ANIMATION ================= */
.fade-up {
    opacity: 0;             
    transform: translateY(50px); 
    transition: all 0.8s ease-out; 
}

.fade-up.show {
    opacity: 1;               
    transform: translateY(0); 
}

/* ================= FADE-LEFT ANIMATION ================= */
.fade-left {
    opacity: 0;              
    transform: translateX(-50px); 
    transition: all 0.8s ease-out; 
}

.fade-left.show {
    opacity: 1;            
    transform: translateX(0); 
}

@media (max-width: 665px) {
    .brand-name h1{
        font-size: 26px;
    }

    .brand-name h2{
        font-size: 20px;
    }
}

@media (max-width: 665px) {
    .brand-name {
        display: none;
    }
}


.brand-name{
    color: #03005B;
}

#GETIN {
    color: #03005B;
}

/* ================= TABLET  ================= */
@media (min-width: 768px) and (max-width:780px ) {
    /* footer */
.footer {
     color: #fff;
     background-color: #000;
     font-family: Arial, sans-serif;
     height: 600px;
}

/* second-row */
.second-row {
    display: flex;
    flex-direction: column;
}
}